{{#if session}}
    <div>
        <h2>Bienvenido/a: {{session.email}}</h2>
        <button id="logout-btn" class="logout-btn button is-danger mt-3">Logout</button>
    </div>
        <a href="/"><button class="button is-danger mt-3">Ver mi perfil</button></a>
        <button id="cartButton" class="button is-danger mt-3">Ver Carrito</button>
{{else}}
    <p class="guest-message">Bienvenido a la tienda</p>
    <a href="/?login=true" class="sign-in-link button is-light">INICIAR SESIÓN</a>
    <a href="/?register=true" class="register-link button is-primary">REGISTRO</a>
{{/if}}
    <section>
        <h1 class="title__productspage">LISTADO DE PRODUCTOS</h1>
        <div class="row product justify-content-evenly">
            {{#each productsVisualice}}
                <div class="containerCard containerProd" style="width: 14rem; margin-top: 5px;" id="{{this._id}}">
                    <div style="margin-top: 10px; width:200px; height:200px;">
                        <img src={{this.thumbnail}} alt="foto de Product {{this.id}}">
                    </div>
                    <div class="card-body">
                        <h3 id="titleProduct" class="card-title">{{this.title}}</h3>
                        <p id="descriptionProduct" class="card-text">{{this.description}}</p>
                        <p id="priceProduct" class="card-text">$ {{this.price}}</p>
                        <button onclick="putIntoCart('{{this._id}}')">🛒</button>
                        <br />
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    
    <section>
        <div style="display: flex; justify-content: space-between; padding: 30px">
            <div> ORDENAR POR PRECIO
                <a href="?page=1&limit={{paginationInfo.limit}}&sort=asc&price={{price}}&status={{status}}">⬆️</a>
                <a href="?page=1&limit={{paginationInfo.limit}}&sort=desc&price={{price}}&status={{status}}">⬇️</a>
            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 30px">
        <div class="pagination">
            {{#if paginationInfo.hasPrevPage}}
            <a href="?page={{paginationInfo.prevPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}">⬅️ Anterior</a>
            {{/if}}
            <span style="margin-left: 20px; margin-right: 20px">Página {{paginationInfo.page}} de {{paginationInfo.totalPages}}</span>
            {{#if paginationInfo.hasNextPage}}
            <a href="?page={{paginationInfo.nextPage}}&limit={{paginationInfo.limit}}&sort={{sort}}&price={{price}}&status={{status}}">Siguiente ➡️</a>
            {{/if}}
        </div>
        </div>
</section>

<script src="/js/profileController.js"></script>
<script src="/js/cartController.js"></script>